<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoppie</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h4>Dear <b><%= name %></b>,</h4>
    <h3>
      Thank you for choosing Shoppie. Your order has been successfully placed
    </h3>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% order.forEach(product => { %>
        <tr>
          <td>
            <img
              src="<%= product.product.images[0] %>"
              alt="Product image"
              width="100rem"
              height="auto"
            />
          </td>
          <td><%= product.product.name %></td>
          <td><%= product.productNumber %></td>
          <td>Ksh. <%= product.product.price %></td>
          <td>Ksh. <%= product.product.price * product.productNumber %></td>
        </tr>
        <% }) %>
      </tbody>
      <tfoot>
        <tr>
          <td>Grand Total:</td>
          <td>
            Ksh. <%= order.reduce((acc, product) => acc + (product.productNumber
            * product.product.price), 0) %>
          </td>
        </tr>
      </tfoot>
    </table>

    <p>
      Expect your order to arrive within 2-3 business days<br />Shoppie Team
    </p>

    <div style="background-color: #f9f9f9">
      <p>
        Copyright © 2024 Shoppie. All Rights Reserved. <br />
        Shoppie will always protect your security and privacy. Please read our
        detailed <span style="color: #1155cc">Privacy Policy</span>. <br />
        Please do not reply to this email. For support, you can
        <span style="color: #1155cc">Contact Us</span>.
      </p>
      <p>
        Contact Address: <br />
        Chuka, Tharaka Nithi, Kenya
      </p>
    </div>
  </body>
</html>
